# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://YOUR_PROJECT.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-publishable-key"
SUPABASE_SERVICE_ROLE_KEY="your-secret-key"

# Database
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT.supabase.co:5432/postgres"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
